/* 
    Created by Imakuki on 08/07/2016
    Made for github.com/Hawkurane/web-loan
*/

body {
    width: 100%;
    height: 100%;
    background-image: url(https://puu.sh/qAsp5/f8fe25cf20.jpg);
    background-repeat: no-repeat;
    background-size: auto auto;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: 30%;
    padding-top: 100px;
    text-align: left;
    background: #9DEB9E;
}

.soins-visage-section {
    height: 80%;
    padding-top: 10px;
    text-align: left;
    background: rgba(240,240,240,0.85); /* ee = 240 */
}

.soins-corps-section {
    height: 50%;
    padding-top: 10px;
    text-align: left;
    background: #fff;
}

.mains-et-pieds-section {
    height: 30%;
    padding-top: 10px;
    text-align: left;
    background: rgba(240,240,240,0.85);
}

.epilation-et-maquillage-section {
    height: 110%;
    padding-top: 10px;
    text-align: left;
    background: rgba(240,240,240,0.85);
}

.contact-section {
    height: 25%;
    padding-top: 10px;
    text-align: left;
    background: rgba(240,240,240,0.85);
}

.panel-group {
    padding-bottom: 15px;
}

.panel-group h4 {
    text-align: center;
}


.panel-default>.panel-heading.panel-even{
    background-color: #c1f5c6
}

.panel-default>.panel-heading.panel-odd{
    background-color: #c1f5de;
}

.panel-default {
    border-color: #6d6d6d;
}

/*
.panel-group .panel+.panel {
    margin-top: 3px;
}


.panel-default {
    border-color: #6d6d6d;
    border-left: none;
    border-right: none;
}
*/